<?xml version="1.0"?>

<configuration>

  <appSettings>
    <!-- 数据库DLL文件映射 -->
    <add key="WebDAL" value="MOD.SQLServerDAL"/>
    <!-- 是否允许缓存-->
    <add key="EnableCaching" value="false"/>
    <!-- 左侧公告列表-->
    <add key="lftBul" value="5"/>
    <!-- 全部公告列表的显示-->
    <add key="bulletinlist" value="25"/>
    <!-- 左侧点播排行列表-->
    <add key="lftPop" value="20"/>
    <!-- 最新节目列表(非分页) -->
    <add key="lftNew" value="6"/>

    <!-- 右侧热门节目列表-->
    <add key="rgtPop" value="8"/>
    <!-- 搜索结果节目列表-->
    <add key="rgtSearch" value="5"/>
    <!-- 分类节目列表-->
    <add key="rgtCatalist" value="5"/>
    <!-- 节目评论列表-->
    <add key="rgtRemark" value="6"/>
    <!-- 广播，直播，转播 -->
    <add key="cast" value="6"/>
    <!-- 根据父类所提取的子类个数 -->
    <add key="catalogNav" value="11"/>

  </appSettings>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
