/*

bright: rgb(234,242,255);
normal: rgb(120,172,255);
dark:	rgb(0,66,174);

*/




.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;		/* width needed weird IE bug */
	
	

}

.dynamic-tab-pane-control .tab-row .tab {

	width:				90px;
	height:				18px;
	background-image:	url("tab.png" );
	
	
	position:		relative;
	top:			0;
	display:		inline;
	float:			left;
	overflow:		hidden;
	
	cursor:			Default;

	margin:			3px -1px 1px 2px;
	padding:		6px 0px 2px 0px;
	border:			0;

	z-index:		1;
	font-size:				12px;
	white-space:	nowrap;
	text-align:		center;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	width:				94px !important;
	height:				20px !important;
	background-image:	url("active.png" ) !important;
	background-repeat:	no-repeat;

	border-bottom-width:	0;
	z-index:		3;
	padding:		10px 0 0px 0;
	margin:			1px -3px -3px 0px;
	top:			-2px;
	font-size:				12px;

}

.dynamic-tab-pane-control .tab-row .tab a {
	font-size:				12px;
	color:				#333;
	text-decoration:	none;
	cursor:				default;
	font-weight:		bold;
	margin-top:		3px;
}

.dynamic-tab-pane-control .tab-row .tab.hover {
	font-size:				12px;
	width:				90px;
	height:				18px;
	background-image:	url("hover.png" );
	background-repeat:	no-repeat;
}


.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid rgb( 145, 155, 156 );
	background:		rgb( 252, 252, 254 );
	z-index:		2;
	position:		relative;
	top:			-2px;

	font-size:				12px;
	color:				Black;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}


.dynamic-tab-pane-control .tab-page {

	min-height:			200px;
	overflow:		hidden;
	height:auto;
}

.dynamic-tab-pane-control .tab-page .dynamic-tab-pane-control .tab-page {
	height:		400px;
}


.dynamic-tab-pane-control h2 {
	text-align:	center;
	width:		auto;
}

.dynamic-tab-pane-control h2 a {
	display:	inline;
	width:		auto;
}

.dynamic-tab-pane-control a:hover {
	background: transparent;
}