/*== VideoPage left-middle-right==*/
#BulletinNav		{ float:left; margin:10px 0;width:800px;padding:0 74px; font-size:16px; color:#fff; font-weight:bold;}
#BulletinNav		{width:948px; voice-family:"\"}\"";voice-family:inherit;width:800px; }
#BulletinNav li { float:left;padding-left:8px;  text-align:center;line-height:22px;}
#BulletinNav li a		{ color:#fff;}
#BulletinNav li a:hover	{ background-color:#35c8fe;}

#videoPrimary{clear:both;width:1000px;margin:5px auto;text-align:left;}
#videoPrimary #firster	{float:left; width:221px; margin:0 5px 0 3px;display:inline;}
#videoPrimary #firster	#chaList{width:221px;height:345px;background:url(../Images/nodepend/bcenter.gif) repeat-y;}
#chaList ul{ margin:5px 5px 5px 24px;}
.selected		{background:#d4e7eb;}
.none			{background:#fff;}

#videoPrimary #seconder	{float:left;width:527px;height:421px; margin:0 7px;display:inline;
						 background:url(../Images/depend/channel_video.jpg) no-repeat left center;}
						 
#videoPrimary #thirder	{ float:right; width:221px;height:345px;margin:0 3px 0 5px;display:inline;}
#videoPrimary #thirder #chaInfo{width:221px;height:345px;background:url(../Images/nodepend/bcenter.gif) repeat-y;}
#chaInfo p{text-indent:24px; margin:10px; line-height:16px;}

#videoPrimary  .btm{height:8px;width:221px;margin:0 0 4px 0;background:url(../Images/nodepend/btm.gif) no-repeat;}
.video_player{ position:relative;  width:527px; height:421px;}

#MWP        { position:absolute;left:9px; top:30px; width:0px; height:0px; border:0;}
#divImg     { display: none; text-align: center; width:100%; text-align:center;  height:100%;}

#Oper #imgPlay	{ position:absolute; left:36px;bottom:15px;}
#Oper #imgStop	{ position:absolute; left:83px;bottom:18px;}
#Time		{ position:absolute;right:32px;bottom:10px; height:18px; line-height:18px;
		font-size:18px; color:#969696; letter-spacing:2px; font-family:黑体; font-weight:bolder; text-align:center; background:url(../Images/Player/time.gif) no-repeat;}